* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 0px;
  margin-bottom: 10px;
}

html {
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

a {
  border-bottom: 1px solid black;
}

body {
  background: white;
}

.lead {
  font-size: calc(16px + 1.5vw);
}
